{% extends 'todo/base.html.twig' %}

{% block body %}

    <h2 class="page-header">Add New Element</h2>
    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    {#<h3>The todo has the following errors:</h3>#}
    {#<ul>#}
        {#{% for error in errors %}#}
            {#<li>{{ error.message }}</li>#}
        {#{% endfor %}#}
    {#</ul>#}
    <script>
        window.onunload = refreshParent;
        function refreshParent() {
            window.opener.location.reload();
            //window.close();
        }
    </script>

{% endblock %}