security:
    encoders:
        AppBundle\Entity\User: bcrypt
    providers:
        database_users:
            entity: { class: AppBundle:User, property: email }
    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            anonymous: ~
            guard:
                authenticators:
                    - app.form_login_authenticator
            logout:
                path: /logout
                target: /
    access_control:
            - { path: ^/dashboard, roles: ROLE_USER}
            - { path: ^/user, roles: ROLE_USER}
            - { path: ^/teams, roles: ROLE_USER}
            - { path: ^/admin, roles: ROLE_ADMIN}