{% extends 'task/base.html.twig' %}

{% block title %}

    myTask - Edit

{% endblock %}

{% block body %}

    <h2 class="page-header">Add New Element</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}