{% extends 'task/base.html.twig' %}

{% block title %}

    myTask - Edit

{% endblock %}

{% block body %}
    <h2 class="page-header" style="margin: 15px 0 15px;">{{ todos.name }}</h2>
    <ul class="list-group">
        <li class="list-group-item">Category: {{ todos.category }}</li>
        <li class="list-group-item">Due: <strong>{{ todos.dueDate|date('F j, Y, g:i a')}}</strong></li>
        <li class="list-group-item">Description:
            <p>
                {{ todos.description }}
            </p>
        </li>
    </ul>

{% endblock %}