<!DOCTYPE html>
<html>
<body>
{#<ul>#}
    {#<li class="dropdown notifications-menu">#}
            {#<ul class="dropdown-menu">#}
    {% if users == null %}
        <li style="background-color: #3f474a"><span style="margin-left: 20px; color: white;">User not found</span></li>
    {% else %}
        {% for user in users %}
                        <li style="background-color: #3f474a; height: 50px">
                            <a href="/user/{{ user.name }}" style="height: 50px">
                                <div>
                                    <div class="pull-left image" style="height: 20px; width: 20px">
                                        <img src="{{ asset('/uploads/avatars/') ~ user.avatar.img }}" class="img-circle" alt="User Image" style="width: 20px; height: 20px;">
                                    </div>
                                    <div class="pull-left info">
                                        <p style="margin-left: 10px">{{ user.name }}</p>
                                    </div>
                                </div>
                            </a>
                        </li>
        {% endfor %}
    {% endif %}
            {#</ul>#}
    {#</li>#}
{#</ul>#}
{#<ul class="dropdown-menu">#}
    {#<li class="header">You have 1 notification</li>#}
    {#<li>#}
        {#<!-- inner menu: contains the actual data -->#}
        {#<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;"><ul class="menu" style="overflow: hidden; width: 100%; height: 200px;">#}
                {#<li>#}
                    {#<a href="#">#}
                        {#<i class="fa fa-users text-aqua"></i> 5 new members joined today#}
                    {#</a>#}
                {#</li>#}
            {#</ul><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 3px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 200px;"></div><div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>#}
    {#</li>#}
    {#<li class="footer"><a href="#">View all</a></li>#}
{#</ul>#}

</body>
</html>