{% extends 'dashboard/base.html.twig' %}
{% set avatar = user.avatar.img %}
{% block title %}

    myTask - Settings

{% endblock %}

{% block dashboard %}
    <section class="content-header">
        <h1>
            User Profile
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">User</a></li>
            <li class="active">Settings</li>
        </ol>
    </section>

{% endblock %}

{% block body %}
    <h1>Adding a new avatar</h1>

    {{ form_start(form) }}

    {{ form_row(form) }}

    {{ form_end(form) }}


{% endblock %}